*__pycache__
/__pycache__
*.ini
.vscode
.DS_Store
Data/
MaliciousUrlsDetection
src/api/client_secret.json
src/api/gmail_token.json
src/api/*.txt
PhishingEmailDetection/fraud_email_.csv
PhishingEmailDetection/*.txt
crudPostgresql
src/api/*.py