<!DOCTYPE html>
<html lang="en">
<head>
    <title>FastAPI: Custom Response</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
                'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            font-size: 1.5em;
            padding: 0.4em 0.8em;
            background-color: powderblue;
        }
    </style>
<body>
    <h1 style="color:teal;">Todos: Welcome Page</h1>
    <div>
        <p>You've successfully entered the FastAPI Server.</p>
    </div>
</body>
</head>
</html>